{% extends "base.html.twig" %}

{% block body %}
<div class="container col-md-6 text-center mt-3">
   <h3 class="alert alert-primary mb-3">Add category</h3>
   <div class="card p-3 bg-light">
      {{ form_start (categoryForm) }}
         <div class="form-group">
           <label for="name" class="text text-danger h5">Category Name</label>
           {{ form_widget(categoryForm.name, {
            'attr' : {
               'class' : 'form-control',
               'placeholder' : 'Enter category name',
            }
           })}}
         </div>
         <input class="btn btn-success mt-3" type="submit" value="Add">
      {{ form_end (categoryForm) }}
   </div>
</div>
{% endblock %}